<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Rahul Shingala</h1>
    <h2>About ME <%= 11+ 99 %> </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero harum laborum esse autem, doloribus praesentium repellat doloremque labore rerum aliquam eius possimus ad, ipsum beatae sint voluptas quae minima cum.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet nobis laborum consequuntur dolor explicabo temporibus dolorem amet ea quasi? Quaerat libero delectus possimus qui quo praesentium animi amet optio earum.</p>
    
</body>
</html>